
:root{
    --green:#d1d1d1;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

body{
    background:#000000;
    padding-right: 5rem;

}

section{
    padding:2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:#8f8f8f;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    background: rgb(158, 207, 35);
    letter-spacing: .2rem;
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    padding:15px;
    background:#000000;
    color:#898989;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 10px;
}



header{
    position: fixed;
    top:0; right:0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-bottom: #fff solid 1px;
    border-bottom-left-radius: 10px;
}

header .navbar{
    
    padding:1.5rem;
}

header .navbar a{
    padding:1.5rem;
    font-size: 2rem;
    color:#ffffff;
}

header .navbar a:hover{
    color:var(--green);
}

#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--green);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width:25rem;
    border-radius: 50%;
    object-fit: cover;
    border-left: 6px solid var(--green);
    border-right: 6px solid var(--green);
}

.home .content h3{
    font-size: 4rem;
    color:#8d8d8d;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--green);
    text-transform: uppercase;
}

.home .content p{
    color:#2db036;
    font-size: 2.5rem;
    line-height: 2;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: .5rem;
    border:0.3rem solid #bebebe;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    color:#afafaf;
    font-size: 4rem;
}

.about .row .content h3 span{
    color:var(--green);
}

.about .row .content .info{
    color:#ababab;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;
}

.about .row .content .box-container .box{
    flex:1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color:#8a8a8a;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span{
    color:var(--green);
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background:#272727;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
    text-align: center;
}

.services .box-container .box i{
    color:var(--green);
    font-size: 5rem;
    padding:1rem 0;
}

.services .box-container .box h3{
    color:#a1a1a1;
    font-size: 2.5rem;
    padding-top:1rem;
}

.services .box-container .box p{
    color:#333;
    font-size:1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    
}

.portfolio .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box:hover .content{
    left:0;
}

.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.blogs .box-container .box{
    flex: 1 1 30rem;
    border-radius: 10px;
    background:#000000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
    border: #a1a1a1 solid 2px;
}

.blogs .box-container .box img{
    
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs .box-container .box h3{
    color:var(--green);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.blogs .box-container .box p{
    color:#b2b2b2;
    font-size: 1.5rem;
    padding:.5rem 0;
}

.blogs1 {
    background-color: #111111;
}

.blogs1 .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

}

.blogs1 .box-container .box{
    flex: 1 1 30rem;
    border-radius: 15px;
    background:#000000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem;
    border: #a1a1a1 solid 2px;
}

.blogs1 .box-container .box img{
    
    width:100%;
    border-radius: .5rem;
    object-fit: cover;
}

.blogs1 .box-container .box h3{
    color:var(--green);
    font-size: 2.5rem;
    padding:.5rem 0;
}

.blogs1 .box-container .box p{
    color:#b2b2b2;
    font-size: 1.5rem;
    padding:.5rem 0;
}

.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#fff;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    padding:2.5rem;
    font-size: 2rem;
    color:#666;
    background:#fff;
    text-align: center;
}

.footer span{
    color:var(--green);
}












/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

    .blog-card {
        display: block;
    }

}

#social_madia{
    font-size: 25px;
    padding: 20px;
    background-color: #333;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
}

#social_madia i {
    margin: 6px;

}
#social_madia svg {
    margin: 6px;

}

#work{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-color: #333;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
}

#work i {
    margin: 6px;

}
#work svg {
    margin: 6px;

}

#work h6{
    color: white
}
#work p{
    color: rgb(212, 212, 212);
    font-size: 1.5rem
}

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

.svg {
	font-family: "ABeeZee", sans-serif;
	width: 100%; height: 100%;
}
.svg text {
	animation: stroke 3s infinite alternate;
	stroke-width: 2;
	stroke: #786E00;
	font-size: 75px;
}
@keyframes stroke {
	0%   {
		fill: rgba(120,110,0,0); stroke: rgba(120,110,0,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(120,110,0,0); stroke: rgba(120,110,0,1); }
	80%  {fill: rgba(120,110,0,0); stroke: rgba(120,110,0,1); stroke-width: 3; }
	100% {
		fill: rgba(120,110,0,1); stroke: rgba(120,110,0,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
    background-color: transparent;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInUp {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 










    














































    /*-----------------------------------*\ 
  #BLOG SECTION
\*-----------------------------------*/

.main {
    background: var(--background-secondary);
    padding: var(--py) 0;
  }
  
  .blog .h2 {
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .blog-card-group { margin-bottom: 3rem; }
  
  .blog-card {
    background: var(--background-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
  }
  
  .blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
  }
  
  .blog-card-banner { width: 100%; }
  
  .blog-content-wrapper { padding: 10px 5px; }
  
  .blog-topic {
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .blog-topic:hover {
    background: var(--foreground-secondary);
    color: var(--action-secondary);
  }
  
  .blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .blog-card .h3:hover {
    text-decoration: none;
    text-decoration-thickness: 2px;
  }

  .blog-banner-img {
    width:  100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .profile-wrapper { display: none; }
  
  .blog .wrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    gap: 15px;
  }
  
  .blog .h4 { color: var(--foreground-secondary); }
  
  .blog .h4:hover { color: var(--accent); }
  
  .blog .text-sm {
    display:     flex;
    align-items: center;
    gap: 5px;
    color: var(--foreground-tertiary);
  }
  
  .blog .separator {
    background: var(--foreground-tertiary);
    margin-inline: 3px;
    margin: 0 3px; /* fallback for margin-inline */
    width:  3px;
    height: 3px;
    border-radius: 3px;
  }
  
  .blog ion-icon { --ionicon-stroke-width: 50px; }
  

  @media (min-width: 550px) {
  
  
    /**
     * BLOG 
     */
  
    .blog-card {
      display: grid;
      grid-template-columns: 3fr 4fr;
      gap: 20px;
    }
  
    .blog-card-banner {
      display: block;
      overflow: hidden;
      border-radius: 5px;
    }
  
    .blog-banner-img {
      width:  100%;
      object-fit: cover;
      border-radius: 10px;
    }
  
  }


  /**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {
  
  
    /**
     * BLOG 
     */
  
    .blog .h2 {
      position: relative;
      text-align: left;
      padding-left: 2rem;
    }

    .blog-banner-img {
        width:  80%;
        object-fit: cover;
        border-radius: 10px;
      }
  
    .blog .h2::before {
      content: '';
      position: absolute;
      top:  0;
      left: 0;
      background: var(--action-primary);
      width:  5px;
      height: 100%;
      border-radius: 5px;
    }
  
    .blog-text,
    .profile-wrapper { display: block; }
  
    .blog-text {
      color: var(--foreground-secondary);
      font-size: 20px;
      display: -webkit-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  
    .blog .wrapper-flex {
      display:         flex;
      justify-content: start;
      align-items:     center;
      gap: 10px;
    }
  
    .profile-wrapper {
      width:  56px;
      height: 56px;
      background: var(--action-primary);
      padding: 3px;
      border-radius: 50%;
    }
  
    .profile-wrapper img { border-radius: 50%; }
  
    .blog .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
}  


.details{
    color: white;
    width: 70%;
    margin-left: 15%;
}

.details p{
    font-size: 2rem;
    line-height: 30px;
    color: #c3c3c3;
}

  


.back{

    color: white;
    font-size: 2.5rem;
    margin-left: 10%;
    background-color: #222;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px rgb(56, 56, 56);
}

.back:hover{
    background-color: #dbdbdb;
    color: #000000;
}